<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BitDesktop.Properties.Settings>
            <setting name="Posx" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Posy" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BtcAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BtcPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BtcFixed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BtcProvider" serializeAs="String">
                <value>BTC-E</value>
            </setting>
        </BitDesktop.Properties.Settings>
    </userSettings>
</configuration>